In [1]:
import pandas as pd
import numpy as np
from itertools import product

In [2]:
df = pd.read_csv(
    "data/4.txt", names=range(-1, 1000), sep=r"\s*", engine="python"
).dropna(how="all", axis=1)

In [3]:
arr = np.array(df)
directions = [(-1, -1), (-1, 0), (-1, 1), (0, -1), (0, 1), (1, -1), (1, 0), (1, 1)]
rows, cols = arr.shape

sum(
    1
    for i, j in product(range(rows), range(cols))
    for dx, dy in directions
    if all(
        0 <= (x := i + k * dx) < rows
        and 0 <= (y := j + k * dy) < cols
        and arr[x, y] == c
        for k, c in enumerate("XMAS")
    )
)

2562

In [4]:
def f(subdf):
    diag1 = "".join(np.diag(subdf))
    diag2 = "".join(np.diag(np.fliplr(subdf)))
    return diag1 in ("MAS", "SAM") and diag2 in ("MAS", "SAM")


sum(
    f(df.iloc[x : x + 3, y : y + 3])
    for x in range(0, len(df) - 2)
    for y in range(0, len(df.columns) - 2)
)

1902